@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

:root {
  --color: #df6e11;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zen Dots", cursive;
  transition: ease-out 0.5s;
}

body {
  background-color: rgb(38, 38, 38);
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  text-shadow: 0 0 20px var(--color);
}

.header h1 {
  color: var(--color);
  font-weight: bold;
  font-size: 4rem;
}

.header input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header input::-webkit-color-swatch {
  border-radius: 7.5px;
  border: none;
  box-shadow: 0 0 10px 1px var(--color);
}

.header input::-moz-color-swatch {
  border-radius: 7.5px;
  border: none;
  box-shadow: 0 0 10px 1px var(--color);
}

.roulette-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.roulette-input input[type="text"] {
  height: 50px;
  border-radius: 5px;
  border: none;
  text-indent: 5px;
  box-shadow: 0 0 10px 1px var(--color);
}

.roulette-input input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 10px 5px var(--color);
}

.roulette-input button {
  background-color: var(--color);
  height: 50px;
  width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px var(--color);
}

.roulette-input button:hover {
  box-shadow: 0 0 10px 5px var(--color);
}

.roulette-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 3px solid var(--color);
  border-radius: 20px;
  color: var(--color);
  font-weight: bold;
  font-size: 3rem;
  box-shadow: 0 0 10px 1px var(--color);
  /* transition: all 5s; */
}

.box.chosen {
  background-color: var(--color);
  color: rgb(38, 38, 38);
}

@media screen and (max-width: 700px) {
  .header h1 {
    font-size: 2rem;
  }

  .header input {
    width: 30px;
    height: 30px;
  }

  .roulette-display {
    gap: 15px;
  }
  .roulette-input {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .box {
    border: 5px solid var(--color);
    border-radius: 10px;
    font-size: 1.5rem;
    box-shadow: 0 0 8px 1px var(--color);
  }
}
